<h2 class="portlet-title">
  <u>Matriculas</u>
</h2>

<div class="second-action-btns">
  <%= link_to 'Efetuar matricula', new_classroom_path, class: "btn btn-sm btn-primary" %>  
</div>

<div id="list-container">
  <%= render 'list' %>
</div>

<div class="second-action-btns">
  <%= link_to 'Efetuar matricula', new_classroom_path, class: "btn btn-sm btn-primary" %>  
</div>