//= require font-awesome
//= require bootstrap
//= require bootstrap-typeahead
//= require mvpready-admin
//= require mvpready-flat 
//= require_self 
//= require nprogress
//= require nprogress-bootstrap

@import "//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic";
@import "//fonts.googleapis.com/css?family=Oswald:400";
@import "//fonts.googleapis.com/css?family=Audiowide";

.navbar-header .navbar-brand{
  padding-top: 18px;
  font-size: 30px;
  font-family: 'Audiowide', cursive;
}

.main-displayport{
  margin-top: 80px
}

table tr th:nth-last-child(1),
table tr td:nth-last-child(1) { 
  width: 170px !important;
  text-align: center;
}

div.second-action-btns{
  text-align: right;
  padding: 20px 0px 20px 0px;
} 

.hidden {
  display: none;
}

.alert.alert-error > ul.error-list {
  margin-bottom: 0px;
}

#activity{
  display: none;
  position:fixed;
  top: 45%;
  width: 20%;
  left: 40%;
  z-index: 9999;
  background-color: #f2f2f2;
  padding: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;  
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

#mask {
  display: none;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  background:#000;
  opacity:.75;
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  z-index: 9998;
}

div.pagination{
  display: block;
  text-align: center !important;
}

input[type=submit] ~ a{
  margin-left: 15px
}

p.error-inline{
  position: relative;
  top: 0;
  display: inline-block !important;
  padding: 2px 10px;
  margin: 0;
  list-style: none;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  background: #b94a48;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.waiting{
  background: image-url('wait.gif') 95% 7px no-repeat;
}

div.form-group.boolean label.checkbox,
div.form-group.boolean input.boolean.form-control { 
  display: inline;
  width: 15px;
  height: 15px;
  margin-left: 0px;
  margin-top: 2px;
  margin-right: 5px;
}

div.form-group.radio_buttons label.radio_buttons,
div.form-group.radio_buttons input.radio_buttons.form-control { 
  display: inline;
  width: 15px;
  height: 15px;
  margin-left: 0px;
  margin-top: 2px;
  margin-right: 5px;
}

ul.dropdown-menu li i{
  width: 10px;
}

table.table tbody tr td{
  vertial-align: middle;
}

form#common-search-box{
  margin: 0px;
  margin-bottom: 20px !important;
}

.portlet-title{
  z-index: -10;
}

div.alert.flash{
  display: none;
  position: absolute;
  top: 60px !important;
  left: 0px;
  z-index: 9999;
  width: 100%;
  margin-top: 0px;
}

div.alert.buy-exam-alert{
  z-index: 9999;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 0px !important;
  text-align: center;
}

@media (max-width: 768px) { 
  .content.main-displayport{
    padding: 15px;
  }
}


// TypeAhead CSS


span.twitter-typeahead .tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion > p {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  white-space: nowrap;
}
span.twitter-typeahead .tt-suggestion > p:hover,
span.twitter-typeahead .tt-suggestion > p:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}
span.twitter-typeahead .tt-suggestion.tt-cursor {
  color: #ffffff;
  background-color: #428bca;
}
span.twitter-typeahead {
  width: 100%;
}
.input-group span.twitter-typeahead {
  display: block !important;
}
.input-group span.twitter-typeahead .tt-dropdown-menu {
  top: 32px !important;
}
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
  top: 44px !important;
}
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
  top: 28px !important;
}

input.error{
  border-color: red;
}

// END TypeAhead CSS

td{
  vertical-align: middle;
}

div.search-actions{
  padding-top: 24px;
  text-align: right;
}

.print-logo{
  display: none;
}

ul.dropdown-menu li{
  text-align: left !important; 
}

.btn-group .dropdown-toggle{
  padding-right: 20px !important;
  padding-left: 20px !important;  
}

.btn-group .dropdown-toggle .caret{
  margin-left: 5px !important;
}

.drill-down{
  display: inline-block;
  margin-left: 5px;
  color: #b32828;
  font-size: 16px
}

ul.noticebar li i.active{
  color: #fff;
}

.nothing{
  margin-top: 100px;
  text-align: center;
}

.payment-method {display:block;width:50px;height:32px; background:image-url('card-icon.gif') no-repeat;margin-left:15px}
.payment-method.visa{background-position:0 -2px;}
.payment-method.master{background-position:0 -35px;}
.payment-method.amex{background-position:0 -497px;}
.payment-method.dinners{background-position:0 -68px;}
.payment-method.hiper{background-position:0 -101px;}
.payment-method.aura{background-position:0 -134px;}
.payment-method.elo{background-position:0 -299px;}
.payment-method.pleno{background-position:0 -398px;}
.payment-method.personal{background-position:0 -431px;}
.payment-method.bradesco{background-position:0 -167px;}
.payment-method.bb{background-position:0 -266px;}
.payment-method.itau{background-position:0 -200px;}
.payment-method.banrisul{background-position:0 -332px;}
.payment-method.hsbc{background-position:0 -233px;}
.payment-method.paggo{background-position:0 -365px;}
.payment-method.boleto{background-position:0 -464px;}

#company-user{
  padding-top: 10px;
  padding-bottom: 10px;
}

.noticebar-menu{
  height: 460px;
  overflow-y: scroll;
}

table#qr-code {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
  margin: 0 auto;
}

table#qr-code td {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  width: 3px !important;
  height: 3px !important;
}

table#qr-code td.black { background-color: #000; }
table#qr-code td.white { background-color: #fff; }

#signatureUploadContent #signature-preview{
  display: none;
}

#mobile-signature #signature-preview-mobile{
  display: none;
}

@media (max-width: 767px) {

  .navbar-header .navbar-brand{
    float: none;
    display: block;
    width: 176px !important;
    margin: 0 auto !important;
  }

  .main-displayport{
    margin-top: 50px
  }

  #common-search-box{
    margin-bottom: 10px !important;
  }

  #partners-info{
    display: none;
  }

  .zopim{
    display: none !important;
  }
  
  #indicators{
    display: none;
  }
}

.more-data{
  display: none;
}

.main-actions{
  clear: both;
  display: block;
  text-align: right;
}

.actions{
  text-align: right;
}

.status-box{
  margin-top: -25px !important;
}

.patient-name{
  vertical-align: middle;
  padding-top: 15px;
}

.patient-name i{
  margin-left: 10px;
}

.patient-name h4{
  display: inline-block;
  margin-right: 15px;
}

.well.exam-card{
  padding-top: 5px;
  padding-bottom: 5px;  
}

i.show-more-exam{
  font-size: 16px !important;
}

.exam-status-bx{
  display: inline;
}

#stats-box{
  width: 350px; 
  font-family: monospace; 
  font-size: 14px; 
  height: 100px; 
  margin: 0px auto; 
  border: dashed 1px; 
  padding: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;    
}