// Place all the styles related to the dwellers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.phones-action{
  padding-top: 17px;
}

.phones-action a {
  color: red;
  font-size: 28px;
}

.second-action-btns {
  padding: 0px !important;
  padding-left: 50px;
}