// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.picture{
  margin-bottom: 20px;
}

.thumbnail{
  margin: 0 auto !important;
  width: 200px;
}

.customer-data{
  display: none;
}

.user_user_type .radio{
  display: inline-block !important;
  margin-top: 10px;
  margin-right: 100px;
}